body {
    margin: 0;
    font-family: monospace;
    font-size: large;
    line-height: 1.5;
    background-color: lightslategray;
    color: white;

}

nav { 
    
    margin: auto;
    width: max-content;
    height: max-content;
    background-color: teal;
    padding: 25%;
}
 h1 {
    float: none;
    background-color: teal;
    font-size: x-large;
    font-weight: 400;
    font-family: monospace;
}

.name {
    float: left;
    font-size: xx-large;
    padding: 10%;
    border-radius: 0%;
    margin-left: unset;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item {
    float: right;
    font-size: large;
    font-weight: 300;
    font-family: monospace;   
}

.navbar {
    background-color: lightsteelblue;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

a.nav-item {
    float: left;
    font-size: xx-large;
    font-family: monospace;
    color: white;
}

.nav-link active {
    float: left;
}

.container {
    margin: 0;
    border: white;
    padding: 20%;
    font-size: xx-large;
    line-height: normal;
    font-family: monospace;
    background-color: cadetblue;
   
}

.row {
    margin: auto;
    width: auto;
    height: auto;
    background-color: white;
    line-break: auto;

}